.text-bold {
    font-weight: 700
}

.text-small {
    font-size: 0.9rem
}

html {
    height: 100%
}

body {
    height: 100%
}

.italic {
    font-style: italic
}

section {
    padding: 50px 0
}

@media (max-width: 767.98px) {
    section {
        padding: 60px 0
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 2;
    opacity: 0.6
}

.heading {
    margin-bottom: 40px
}

.heading:after {
    content: " ";
    display: block;
    width: 100px;
    height: 1px;
    margin: 20px 0 20px;
    background: #555
}

.section-inverse {
    color: #fff;
    background: #333
}

.section-inverse h1,
.section-inverse h2,
.section-inverse h3,
.section-inverse h4,
.section-inverse h5,
.section-inverse h6 {
    color: #fff
}

.section-inverse .heading:after {
    background: #fff
}

.box {
    margin-bottom: 30px
}

nav.navbar {
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: 0 1px 0 #ddd;
    box-shadow: 0 1px 0 #ddd, 0px -1px 0 #ddd;
}

nav.navbar a.nav-link {
    color: #777;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
}

nav.navbar a.nav-link.active,
nav.navbar a.nav-link:hover,
nav.navbar a.nav-link:focus {
    color: #333
}

nav.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0
}

nav.navbar .navbar-brand img {
    width: 230px;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav.navbar.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999
}

.intro {
    position: relative;
    width: 100%;
    height: 145px;
    color: #263333;
    padding: 0;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-attachment: fixed
}

.intro h1,
.intro h2,
.intro h3,
.intro p {
    color: #263333;
}

.intro p {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    white-space: nowrap;
}

.content {
    position: relative;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10
}

@media (max-width: 767.98px) {
    .content {
        position: relative;
        padding: 80px 0;
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

.services .box {
    margin-top: 20px
}

.services .icon {
    font-size: 50px;
    color: #262626
}

#map {
    height: 600px
}

.contact-form {
    margin-bottom: 40px
}

p.social {
    text-align: center;
    margin-top: 20px
}

p.social a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: bottom
}

p.social a i {
    vertical-align: bottom;
    line-height: 38px
}

p.social a.facebook {
    background-color: #ccc
}

p.social a.gplus {
    background-color: #333
}

p.social a.twitter {
    background-color: #aaa
}

p.social a.instagram {
    background-color: #999
}

p.social a.email {
    background-color: #666
}

footer {
    padding: 20px 0
}

.copyright {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #eee;
    font-style: italic
}

.copyright p.credit {
    text-align: right
}

.copyright p.credit a {
    color: #eee
}

#style-switch-button {
    position: fixed;
    top: 120px;
    left: 0px;
    border-radius: 0;
    z-index: 2
}

#style-switch {
    width: 300px;
    padding: 20px;
    position: fixed;
    top: 160px;
    left: 0;
    background: #fff;
    border: solid 1px #ced4da;
    z-index: 2000
}

#style-switch h4 {
    color: #555
}

.navbar {
    padding: .5rem 1rem
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 0rem
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9)
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9)
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5)
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7)
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3)
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9)
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1)
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5)
}

.navbar-dark .navbar-brand {
    color: #fff
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5)
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75)
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25)
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1)
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5)
}

.btn {
    font-weight: 400;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
}

.btn:focus,
.btn.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.25);
    box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.25)
}

.btn.disabled,
.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
    background-image: none
}

.btn-link {
    font-weight: 400;
    color: #333
}

.btn-link:hover {
    color: #0d0d0d;
    text-decoration: underline
}

.btn-link:focus,
.btn-link.focus {
    text-decoration: underline
}

.btn-link:disabled,
.btn-link.disabled {
    color: #6c757d
}

.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.btn-primary:hover {
    color: #fff;
    background-color: #202020;
    border-color: #1a1a1a
}

.btn-primary:focus,
.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5);
    box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #131313
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5);
    box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5)
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62
}

.btn-secondary:focus,
.btn-secondary.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, 0.5)
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, 0.5)
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34
}

.btn-success:focus,
.btn-success.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.5);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.5)
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.5);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.5)
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b
}

.btn-info:focus,
.btn-info.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(23, 162, 184, 0.5);
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, 0.5)
}

.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(23, 162, 184, 0.5);
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, 0.5)
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00
}

.btn-warning:focus,
.btn-warning.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, 0.5)
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, 0.5)
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}

.btn-danger:focus,
.btn-danger.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5)
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5)
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5
}

.btn-light:focus,
.btn-light.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, 0.5)
}

.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, 0.5)
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}

.btn-dark:focus,
.btn-dark.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5);
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5)
}

.btn-dark.disabled,
.btn-dark:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5);
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5)
}

.btn-outline-primary {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #333
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5);
    box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #333;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5);
    box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.5)
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, 0.5)
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #6c757d;
    background-color: transparent
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, 0.5)
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.5);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.5)
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #28a745;
    background-color: transparent
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.5);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.5)
}

.btn-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info:focus,
.btn-outline-info.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(23, 162, 184, 0.5);
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, 0.5)
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #17a2b8;
    background-color: transparent
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(23, 162, 184, 0.5);
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, 0.5)
}

.btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107
}

.btn-outline-warning:hover {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, 0.5)
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: #ffc107;
    background-color: transparent
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, 0.5)
}

.btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5)
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.5)
}

.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:focus,
.btn-outline-light.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, 0.5)
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, 0.5)
}

.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5);
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5)
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    color: #343a40;
    background-color: transparent
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5);
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, 0.5)
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0rem
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0rem
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff
}

a {
    color: #333;
    text-decoration: none
}

a:hover,
a:focus {
    color: #0d0d0d;
    text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: .5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.44;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.2em
}

h1,
.h1 {
    font-size: 2.8rem
}

h2,
.h2 {
    font-size: 2.1rem
}

h3,
.h3 {
    font-size: 1.75rem
}

h4,
.h4 {
    font-size: 1.5rem
}

h5,
.h5 {
    font-size: 1.25rem
}

h6,
.h6 {
    font-size: 1rem
}

.lead {
    font-size: 1.4375rem;
    font-weight: 300
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}

small,
.small {
    font-size: 80%;
    font-weight: 400
}

mark,
.mark {
    padding: .2em;
    background-color: #fcf8e3
}

.blockquote {
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    border-left: 5px solid #333
}

.blockquote-footer {
    color: #6c757d
}

.blockquote-footer::before {
    content: "\2014 \00A0"
}

.text-primary {
    color: #333 !important
}

a.text-primary:hover,
a.text-primary:focus {
    color: #1a1a1a !important
}

.page-item:first-child .page-link {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
    color: #fff;
    background-color: #333;
    border-color: #333
}

.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6
}

.page-link {
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #333;
    background-color: #fff;
    border: 1px solid #dee2e6
}

.page-link:hover,
.page-link:focus {
    color: #0d0d0d;
    text-decoration: none;
    background-color: #eee;
    border-color: #dee2e6
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.pagination-sm .page-link {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}

.bg-primary {
    background-color: #333 !important
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #1a1a1a !important
}

.bg-secondary {
    background-color: #6c757d !important
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
    background-color: #545b62 !important
}

.bg-success {
    background-color: #28a745 !important
}

a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
    background-color: #1e7e34 !important
}

.bg-info {
    background-color: #17a2b8 !important
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
    background-color: #117a8b !important
}

.bg-warning {
    background-color: #ffc107 !important
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
    background-color: #d39e00 !important
}

.bg-danger {
    background-color: #dc3545 !important
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #bd2130 !important
}

.bg-light {
    background-color: #f8f9fa !important
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #dae0e5 !important
}

.bg-dark {
    background-color: #343a40 !important
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    background-color: #1d2124 !important
}

.border-primary {
    border-color: #333 !important
}

.border-secondary {
    border-color: #6c757d !important
}

.border-success {
    border-color: #28a745 !important
}

.border-info {
    border-color: #17a2b8 !important
}

.border-warning {
    border-color: #ffc107 !important
}

.border-danger {
    border-color: #dc3545 !important
}

.border-light {
    border-color: #f8f9fa !important
}

.border-dark {
    border-color: #343a40 !important
}

.text-primary {
    color: #333 !important
}

a.text-primary:hover,
a.text-primary:focus {
    color: #1a1a1a !important
}

.text-secondary {
    color: #6c757d !important
}

a.text-secondary:hover,
a.text-secondary:focus {
    color: #545b62 !important
}

.text-success {
    color: #28a745 !important
}

a.text-success:hover,
a.text-success:focus {
    color: #1e7e34 !important
}

.text-info {
    color: #17a2b8 !important
}

a.text-info:hover,
a.text-info:focus {
    color: #117a8b !important
}

.text-warning {
    color: #ffc107 !important
}

a.text-warning:hover,
a.text-warning:focus {
    color: #d39e00 !important
}

.text-danger {
    color: #dc3545 !important
}

a.text-danger:hover,
a.text-danger:focus {
    color: #bd2130 !important
}

.text-light {
    color: #f8f9fa !important
}

a.text-light:hover,
a.text-light:focus {
    color: #dae0e5 !important
}

.text-dark {
    color: #343a40 !important
}

a.text-dark:hover,
a.text-dark:focus {
    color: #1d2124 !important
}

.badge-primary {
    color: #fff;
    background-color: #333
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1a1a1a
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #545b62
}

.badge-success {
    color: #fff;
    background-color: #28a745
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1e7e34
}

.badge-info {
    color: #fff;
    background-color: #17a2b8
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #117a8b
}

.badge-warning {
    color: #212529;
    background-color: #ffc107
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #d39e00
}

.badge-danger {
    color: #fff;
    background-color: #dc3545
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #bd2130
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa
}

.badge-light[href]:hover,
.badge-light[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #dae0e5
}

.badge-dark {
    color: #fff;
    background-color: #343a40
}

.badge-dark[href]:hover,
.badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1d2124
}

.form-control {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #555;
    background-color: #fff;
    border-color: #737373;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.25);
    box-shadow: 0 0 0 .2rem rgba(51, 51, 51, 0.25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d
}

.form-control:-ms-input-placeholder {
    color: #6c757d
}

.form-control::-ms-input-placeholder {
    color: #6c757d
}

.form-control::placeholder {
    color: #6c757d
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #eee
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px)
}

select.form-control:focus::-ms-value {
    color: #555;
    background-color: #fff
}

.form-control-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0rem
}

select.form-control-sm:not([size]):not([multiple]) {
    height: calc(1.8125rem + 2px)
}

.form-control-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0rem
}

select.form-control-lg:not([size]):not([multiple]) {
    height: calc(2.875rem + 2px)
}

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #28a745
}

.valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(40, 167, 69, 0.8);
    border-radius: .2rem
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
    border-color: #28a745
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
    border-color: #28a745;
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.25)
}

.was-validated .form-control:valid~.valid-feedback,
.was-validated .form-control:valid~.valid-tooltip,
.form-control.is-valid~.valid-feedback,
.form-control.is-valid~.valid-tooltip,
.was-validated .custom-select:valid~.valid-feedback,
.was-validated .custom-select:valid~.valid-tooltip,
.custom-select.is-valid~.valid-feedback,
.custom-select.is-valid~.valid-tooltip {
    display: block
}

.was-validated .form-check-input:valid~.form-check-label,
.form-check-input.is-valid~.form-check-label {
    color: #28a745
}

.was-validated .form-check-input:valid~.valid-feedback,
.was-validated .form-check-input:valid~.valid-tooltip,
.form-check-input.is-valid~.valid-feedback,
.form-check-input.is-valid~.valid-tooltip {
    display: block
}

.was-validated .custom-control-input:valid~.custom-control-label,
.custom-control-input.is-valid~.custom-control-label {
    color: #28a745
}

.was-validated .custom-control-input:valid~.custom-control-label::before,
.custom-control-input.is-valid~.custom-control-label::before {
    background-color: #71dd8a
}

.was-validated .custom-control-input:valid~.valid-feedback,
.was-validated .custom-control-input:valid~.valid-tooltip,
.custom-control-input.is-valid~.valid-feedback,
.custom-control-input.is-valid~.valid-tooltip {
    display: block
}

.was-validated .custom-control-input:valid:checked~.custom-control-label::before,
.custom-control-input.is-valid:checked~.custom-control-label::before {
    background-color: #34ce57
}

.was-validated .custom-control-input:valid:focus~.custom-control-label::before,
.custom-control-input.is-valid:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(40, 167, 69, 0.25)
}

.was-validated .custom-file-input:valid~.custom-file-label,
.custom-file-input.is-valid~.custom-file-label {
    border-color: #28a745
}

.was-validated .custom-file-input:valid~.custom-file-label::before,
.custom-file-input.is-valid~.custom-file-label::before {
    border-color: inherit
}

.was-validated .custom-file-input:valid~.valid-feedback,
.was-validated .custom-file-input:valid~.valid-tooltip,
.custom-file-input.is-valid~.valid-feedback,
.custom-file-input.is-valid~.valid-tooltip {
    display: block
}

.was-validated .custom-file-input:valid:focus~.custom-file-label,
.custom-file-input.is-valid:focus~.custom-file-label {
    -webkit-box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, 0.25)
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545
}

.invalid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(220, 53, 69, 0.8);
    border-radius: .2rem
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
    border-color: #dc3545
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
    border-color: #dc3545;
    -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.25)
}

.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid~.invalid-tooltip,
.form-control.is-invalid~.invalid-feedback,
.form-control.is-invalid~.invalid-tooltip,
.was-validated .custom-select:invalid~.invalid-feedback,
.was-validated .custom-select:invalid~.invalid-tooltip,
.custom-select.is-invalid~.invalid-feedback,
.custom-select.is-invalid~.invalid-tooltip {
    display: block
}

.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-invalid~.form-check-label {
    color: #dc3545
}

.was-validated .form-check-input:invalid~.invalid-feedback,
.was-validated .form-check-input:invalid~.invalid-tooltip,
.form-check-input.is-invalid~.invalid-feedback,
.form-check-input.is-invalid~.invalid-tooltip {
    display: block
}

.was-validated .custom-control-input:invalid~.custom-control-label,
.custom-control-input.is-invalid~.custom-control-label {
    color: #dc3545
}

.was-validated .custom-control-input:invalid~.custom-control-label::before,
.custom-control-input.is-invalid~.custom-control-label::before {
    background-color: #efa2a9
}

.was-validated .custom-control-input:invalid~.invalid-feedback,
.was-validated .custom-control-input:invalid~.invalid-tooltip,
.custom-control-input.is-invalid~.invalid-feedback,
.custom-control-input.is-invalid~.invalid-tooltip {
    display: block
}

.was-validated .custom-control-input:invalid:checked~.custom-control-label::before,
.custom-control-input.is-invalid:checked~.custom-control-label::before {
    background-color: #e4606d
}

.was-validated .custom-control-input:invalid:focus~.custom-control-label::before,
.custom-control-input.is-invalid:focus~.custom-control-label::before {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(220, 53, 69, 0.25)
}

.was-validated .custom-file-input:invalid~.custom-file-label,
.custom-file-input.is-invalid~.custom-file-label {
    border-color: #dc3545
}

.was-validated .custom-file-input:invalid~.custom-file-label::before,
.custom-file-input.is-invalid~.custom-file-label::before {
    border-color: inherit
}

.was-validated .custom-file-input:invalid~.invalid-feedback,
.was-validated .custom-file-input:invalid~.invalid-tooltip,
.custom-file-input.is-invalid~.invalid-feedback,
.custom-file-input.is-invalid~.invalid-tooltip {
    display: block
}

.was-validated .custom-file-input:invalid:focus~.custom-file-label,
.custom-file-input.is-invalid:focus~.custom-file-label {
    -webkit-box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.25);
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, 0.25)
}

code {
    font-size: 87.5%;
    color: #e83e8c
}

.nav-link {
    padding: .5rem 1rem
}

.nav-link.disabled {
    color: #6c757d
}

.nav-tabs .nav-item {
    margin-bottom: -1px
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #eee #eee #dee2e6
}

.nav-tabs .nav-link.disabled {
    color: #6c757d
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #555;
    background-color: #fff
}

.nav-tabs .dropdown-menu {
    margin-top: -1px
}

.nav-pills .nav-link {
    border-radius: .25rem
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #333
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-body {
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem
}

.card-link+.card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header-transparent {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f8f9fa;
    border-top: 1px solid rgba(0, 0, 0, 0.125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-img-overlay {
    padding: 1.25rem
}

.card-img-overlay-opacity {
    background: rgba(0, 0, 0, 0.2)
}

.card-img {
    border-radius: calc(.25rem - 1px)
}

.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.card-deck .card {
    margin-bottom: 15px
}

@media (min-width: 576px) {
    .card-deck {
        margin-right: -15px;
        margin-left: -15px
    }
    .card-deck .card {
        margin-right: 15px;
        margin-left: 15px
    }
}

/* Cart page start */
.cart-grid-body { margin:0; padding:0; position:relative;}
.cart-box { margin:0; padding:0; position:relative;}
.cart { margin:0 0 20px 0; padding:0; position:relative;}
.cart-container {border: 1px solid rgba(0, 0, 0, 0.125); border-radius: .25rem; }

.product-line-grid { margin:0; display: flex; align-items: center;   padding: 15px 0;}

.product-line-grid .product-image { margin: 0; padding: 0; display: block;}
.product-line-grid .product-image .left{ margin: 0; padding: 0; display: inline-block; float: left; width: 50%; vertical-align: middle;}
.product-line-grid .product-image .right{ margin: 0; padding: 30px 0; display: inline-block; float: left; width: 50%; vertical-align: middle;}
.product-line-grid .product-image img { width: 100%; vertical-align: middle;}

.cat_item { margin:0 0 30px 0;padding:0; position:relative;  vertical-align: middle; border:1px solid #f2f2f2;}
.cat_item:hover { box-shadow:0 0 5px 0px #ddd;}
.cat_item img {width: 100%; vertical-align: middle; height:100%;}
.cat_item .product-img{margin:0;padding:0; position:relative;  vertical-align: middle; height:240px; display:block;}
.cat_item h5{ margin:0px 0 0 0;padding:20px 20px 10px 20px; color:#222; font-size:16px; border-top:1px solid #f2f2f2;}
.cat_item .price-txt { margin:0;padding:0 20px; color:#222; font-size:14px;  display:block; }
.cat_item .price-txt label {     color: black;font-weight: 800;}
.cat_item .cat_btn { margin:10px;}


.product-line-grid-left { }
.product-image{background:#f2f2f2; display:block; margin:0; padding:5px;}
.product-line-grid-body .product-line-info{ margin:0; padding:0; color:#333;  }
.product-line-grid-body .product-line-info .product-name{color:#333;font-weight:700!important;font-size:20px!important; letter-spacing:1px;}
.product-line-grid-body .product-line-info .label{margin:0; padding:0; color:#666; font-size:14px; font-weight:400;}
.product-line-grid-body .product-line-info .value{margin:0; padding:0; color:#000; font-size:14px; font-weight:400;}

.bootstrap-touchspin .input-group-btn-vertical {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
.product-line-grid-right span.input-group-btn-vertical button.bootstrap-touchspin-up {
    top: 0;
}
.product-line-grid-right span.input-group-btn-vertical button {
    border-radius: 0;
    height: 19px;
    line-height: 19px;
    padding: 0;
    width: 20px;
    position: absolute;
    right: 0;
    z-index: 3;
}
.product-line-grid-right .material-icons.touchspin-up, .product-line-grid-right .material-icons.touchspin-down {

    font-size: 17px;

}

.product-line-grid-right{}
.product-line-actions{}
.cart-grid-right .card {word-wrap: break-word;}
.cart-grid-right .cart-summary{padding: 30px;}
.cart-grid-right .cart-detailed-totals{}
.cart-grid-right .card-block{}
.cart-grid-right .cart-summary .label {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.cart-grid-right .cart-summary .value {
    float: right;
    font-size: 14px;
    font-weight: 600;
}
.cart-grid-right .cart-summary .label {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.cart-grid-right .cart-summary .value {
    float: right;
    font-size: 14px;
    font-weight: 600;
}
.text-xs-center {
    text-align: center;
}
.promo-input {display: inline-block; width: 80%;}

.black-btn { background:#333; border:0; padding:10px 0; width:100%; color:#fff; font-size:14px;}
.black-btn:hover { background:#98999A;}


.cart-grid-right #block-reassurance {
    padding: 20px 0 0 0; margin:0; position:relative;
    clear: both;
}
#block-reassurance ul { list-style:none; margin:0; padding:0;}
#block-reassurance ul li:last-child { margin-bottom:0;}
#block-reassurance ul li {
    margin-bottom: 15px;list-style:none;
}
#block-reassurance .block-reassurance-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
#block-reassurance .block-reassurance-item .reassurance-img {
    width: 35px;
    margin-right: 10px;
}
.btn-shopping{ background:#333; border:0; padding:10px 20px; margin:10px 0 0 0; float:right; color:#fff; font-size:14px;}
.btn-shopping:hover { background:#98999A;}

.cart-line-product-actions { text-align:right; margin:10px 0 0 0; padding:0;}


.checkout-step {    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1); margin:0; padding:20px;}
.checkout-step .step-title {
    color: #454545;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0px 0 20px 0;
    font-weight: 600;
    text-transform: uppercase;
}
.checkout-step .checkout-content { margin:0px 0 0 0;padding:0; position:relative;}
.checkout-step .checkout-content ul {
    display: block;
}
.checkout-step .checkout-content ul li { display:inline-block;}
.checkout-step .checkout-content ul li:first-child a {
    padding-left: 0;
}
.checkout-step .checkout-content .nav > li > a {
    padding: 10px 15px;
}
.checkout-step .checkout-checkout-content .nav > li > a:hover, .checkout-step .checkout-content .nav > li > a:focus, .checkout-step .checkout-content .nav > li > a.active {
    color: #0088cc;
    text-decoration: none;
}
.checkout-step .checkout-content ul li:nth-child(2) span {
    font-size: 12px; color:#ddd;position: relative; padding:12px 0; display:inline-block;
}

.checkout-step .tab-content .form-group label { margin:5px 0 0 0;}
.checkout-step .tab-content .form-control-valign label {
    line-height: 20px !important;
    padding-top: 0;
    margin-right: 30px !important;
}
.checkout-step .radio-inline:first-child {
    margin-right: 15px;
}
.checkout-step .checkout-form { margin:0;padding:0;}
.custom-checkbox { clear:both; margin:0; padding:0; display:block;}
.custom-checkbox input[type="checkbox"], .custom-checkbox  input[type="radio"]{ clear:both; margin:0; padding:0; display:inline-block; position:absolute; top:5px;}
.custom-checkbox label {margin-left:25px!important;}
.btn-show{ background:#333; border:0; padding:10px 20px; margin:0;  color:#fff; font-size:14px;}
.btn-show:hover { background:#98999A;}

.checkout-step .tab-content { margin-top:10px;}
.continue:hover { background:#98999A;}


#checkout .right-box {
    border: 1px solid #ebebeb;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
}
#checkout .right-box .card.js-cart, #checkout .right-box #block-reassurance {
    padding: 20px;
}
#checkout .right-box .cart-summary-products p {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: rgba(17,17,17,0.9);
}
#checkout .right-box .cart-summary-products p a {
    color: red;
    font-size: 15px;
    font-weight: 700;
}
#checkout .right-box .cart-summary-products .card-block .label {
    color: rgba(17, 17, 17, 0.9);
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    padding: 0;
    text-transform: uppercase;
}
#checkout .right-box .cart-summary-products .card-block .value {
    font-size: 14px;
    font-weight: 600;
}

#cart-summary-product-list .media-list { margin:0; padding:0; position:relative;}
#cart-summary-product-list .media-list .media {
    margin-bottom: 15px; display:block; width:100%; border-bottom:1px solid #ddd; padding-bottom:10px;
}
#cart-summary-product-list .media-list .media img { width:100%;}
#cart-summary-product-list .media-list .media-left { width:100%;}
#cart-summary-product-list .media-list .media-body { width:100%;    padding: 10px 0 0 10px;}
#cart-summary-product-list .media-list .media-body span { width:100%;display:block;}
#cart-summary-product-list .media-list .media-body .product-quantity {
    font-weight: 600;
}
.float-xs-right {
    float: right !important;
}

.checkout-step { margin-bottom:20px;}

.btn-remove{ background:#333; border:0; padding:10px 20px; margin:0;  color:#fff; font-size:14px;}
.btn-remove:hover { background:#98999A;}

.btn-remove{ background:#333; border:0; padding:5px 20px; margin:0;  color:#fff; font-size:14px; width:200px;}
.btn-remove:hover { background:#98999A;}

.btn-edit{ background:#fff; border:1px solid #333; padding:5px 20px; margin:0;  color:#333; font-size:14px; width:200px;}
.btn-edit:hover { background:#98999A;}

.fixed-header #cart { padding-top:150px;}
.fixed-header #checkout{ padding-top:150px;}

.payment-container { margin:0;padding:0; position:relative;}
.payment-container .card-ul{ margin:0;padding:0; list-style:none;}
.payment-container .card-ul li{ margin:0 10px 20px 0;padding:0; list-style:none; display:inline-block;}
.payment-container .card-ul li img { width:60px;}



.success-div-2{ margin:0px auto 0 auto;padding: 0px 0 40px 0;background-color: #fff;width: 90%;border-radius:4px; transition:0.4s all ease-in-out; }
.success-div-2 h1{ margin:0;padding: 20px 0 10px 0;font-size: 60px;font-weight: 700;color: 222; text-align: center;text-transform: uppercase;color: #222;}
.success-div-2 h2{ margin:0;padding: 10px 0;font-size: 24px;font-weight: 600;color: #4BB543;text-align: center;text-transform: none;display: block;text-transform: uppercase;}
.cancle h2{ color:red;}
.success-div-2 p{ margin:0;padding: 10px 0 20px 0;font-size: 20px;font-weight: 400;line-height: 1.4;text-align: center;color: #4BB543;display: block;}
.cancle p{color:red;}
.success-div-2 .a-success{margin: 0;padding: 10px 40px;background: #333;color: #fff;font-size: 14px;text-align: center;display: inline-block;transition:0.4s all ease-in-out; }
.success-div-2 .a-success:hover{background: #98999A;color: #fff; text-decoration:none;}
.success-div-2 .span-icon {margin: 30px auto;text-align: center;background-color: #fff;display: block;transition:0.4s all ease-in-out;}
.success-div-2 .span-icon i{color:#4BB543;font-size: 84px;line-height: 60px;}
.cancle .span-icon i{color:red}
.success-div-2 .middle-container.thankyou{ margin: 0 0 0 0; }
.bg-white{ background-color: #fff; }


.icon-20 img {
    width: 20px;
    margin-left: 3PX;
}


@media only screen and (max-width: 767px){

.product-line-grid { width:100%; display:block;}
.product-line-grid-right { margin:20px 0;}
.btn-shopping { margin:10px 10px 20px 10px;}
.qty { max-width:30%;}

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.product-line-grid { width:100%; display:block;}
	.product-line-grid-right { margin:20px 0;}
	.btn-shopping { margin:10px 10px 20px 10px;}
	.product-line-grid-left { width:100%;max-width: 100%;}
	.product-line-grid-body { width:100%;max-width: 100%;}
	.product-line-grid-right{ width:100%;max-width: 100%;}
	.qty { max-width:30%;}

}

.catalogue .form-group{padding-left:20px}
.catalogue .btn-shopping{float:left !important; margin: 10px 0 10px 20px !important;}
/* Cart page end */

.product-price {display: block}









