<!-- cart-->
  <section id="checkout-personal-information-step" class="checkout-step -current -reachable js-current-step">
	<div class="step-box1">
		 <h1 class="step-title">
			<i class="fa fa-check-circle-o done"></i>
			<span class="step-number">1</span>
			Personal Information
			<span class="step-edit text-muted"><i class="fa fa-pencil-square-o edit"></i> edit</span>
		</h1>
		<div class="content">
		
			<ul class="nav nav-inline m-y-2">
			  <li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#checkout-guest-form" role="tab">
				  Order as a guest
				</a>
			  </li>

			  <li class="nav-item">
				<span href="nav-separator"> | </span>
			  </li>

			  <li class="nav-item">
				<a class="nav-link " data-link-action="show-login-form" data-toggle="tab" href="#checkout-login-form" role="tab">
				  Sign in
				</a>
			  </li>
			</ul>
			
			<div class="tab-content">
			  <div class="tab-pane active" id="checkout-guest-form" role="tabpanel">
				<form action="#" id="customer-form" class="js-customer-form" method="post">
				<section>
					<div class="form-group row ">
						<label class="col-md-3 form-control-label">Social title</label>
						<div class="col-md-6 form-control-valign">
							<label class="radio-inline"><span class="custom-radio"><input name="id_gender" value="1" type="radio"><span></span></span>Mr.</label>
							<label class="radio-inline"><span class="custom-radio"><input name="id_gender" value="2" type="radio"><span></span></span>Mrs.</label>
						</div>
					</div>
					
					<div class="form-group row ">
						<label class="col-md-3 form-control-label required">First name</label>
						<div class="col-md-6"><input class="form-control" name="firstname" value="" required="" type="text"></div>
						
					</div>
					
					<div class="form-group row ">
						<label class="col-md-3 form-control-label required">Last name</label>
						<div class="col-md-6"><input class="form-control" name="lastname" value="" required="" type="text"></div>						
					</div>
					
					<div class="form-group row ">
						<label class="col-md-3 form-control-label required">Email</label>
						<div class="col-md-6"><input class="form-control" name="email" value="" required="" type="email"></div>
					</div>
					
					<p><span class="font-weight-bold">Create an account</span> <span class="font-italic">(optional)</span><br>
					<span class="text-muted">And save time on your next order!</span>
					</p>
					
					<div class="form-group row ">
						<label class="col-md-3 form-control-label">Password</label>
						<div class="col-md-6">
							<div class="input-group js-parent-focus">
							<input class="form-control js-child-focus js-visible-password" name="password" value="" pattern=".{5,}" type="password">
							<span class="input-group-btn show-pass">
							<button type="button" class="btn-default btn-effect" data-action="show-password" data-text-show="Show" data-text-hide="Hide" title="Show password">Show</button>
							</span>
						</div>
					</div>
					<div class="col-md-3 form-control-comment">Optional</div>
				</div>
				
				<div class="form-group row ">
					<label class="col-md-3 form-control-label">Birthdate</label>
					<div class="col-md-6">
						<input class="form-control" name="birthday" value="" placeholder="MM/DD/YYYY" type="text">
						<span class="form-control-comment">(E.g.: 05/31/1970)</span>
					</div>					
					<div class="col-md-3 form-control-comment">Optional</div>
				</div>
				
				<div class="form-group row ">
					<label class="col-md-3 form-control-label"></label>
					<div class="col-md-6">
						<span class="custom-checkbox">
						<input name="optin" value="1" type="checkbox">
						<span><i class="material-icons rtl-no-flip checkbox-checked"></i></span>
						<label>Receive offers from our partners</label>
						</span>
					</div>
					<div class="col-md-3 form-control-comment"></div>
				</div>
				
				<div class="form-group row ">
					<label class="col-md-3 form-control-label"></label>
					<div class="col-md-6">
						<span class="custom-checkbox">
						<input name="newsletter" value="1" type="checkbox">
						<span><i class="material-icons rtl-no-flip checkbox-checked"></i></span>
						<label>Sign up for our newsletter<br><em>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</em></label>
						</span>
					</div>
					
					<div class="col-md-3 form-control-comment"></div>
				</div>
			</section>
			
					<footer class="form-footer clearfix">
						<button class="continue btn btn-primary button-small pull-xs-right" name="continue" data-link-action="register-new-customer" type="submit" value="1">
						Continue
						</button>
					</footer>
				</form>
			</div><!-- end of tab -->
		
				<div class="tab-pane " id="checkout-login-form" role="tabpanel">
					<form id="login-form" action="#" method="post">
					<section>
						<div class="form-group row ">
							<label class="col-md-3 form-control-label required">Email</label>
							<div class="col-md-6"><input class="form-control" name="email" value="" required="" type="email"></div>
							<div class="col-md-3 form-control-comment"></div>
						</div>
						
						<div class="form-group row ">
							<label class="col-md-3 form-control-label required">Password</label>
							<div class="col-md-6">
								<div class="input-group js-parent-focus">
									<input class="form-control js-child-focus js-visible-password" name="password" value="" pattern=".{5,}" required="" type="password">
									<span class="input-group-btn show-pass">
									<button type="button" class="btn-default btn-effect" data-action="show-password" data-text-show="Show" data-text-hide="Hide" title="Show password">Show</button> 
									</span>
								</div>
							</div>
							<div class="col-md-3 form-control-comment"></div>
						</div>
						
						<div class="forgot-password"><a href="#" rel="nofollow">Forgot your password?</a></div>
					</section>
					
					<footer class="form-footer text-sm-center clearfix">
					<button class="continue btn btn-primary pull-xs-right button-small" name="continue" data-link-action="sign-in" type="submit" value="1">
					Continue
					</button>
					</footer>
					
					</form>
				</div><!-- end of tab -->


		  
			</div><!-- end of tab conent -->
			
			
		
		</div><!-- end of content -->
	</div><!-- end of step box -->
  
  
  
  </section><!-- end of checkout -->